body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 20px 40px;
}

.Job {
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 2px 3px #eee;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.Job:hover {
  cursor: pointer;
  color: #3f51b5;
  border: 2px solid #3f51b5;
  box-shadow: 2px 3px #eee;
  box-sizing: border-box;
}

.CardLeft {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.CompanyLogo {
  height: 30px;
  float: right;
}

.Tab {
  width: 60%;
  margin: 40px auto 20px;
}
